.image-credits {
  color: $white;
  font-size: .8rem;
  position: absolute;
  padding: 1rem;
  z-index: 1020;

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  &--right {
    right: 0;
  }

  &--left {
    left: 0;
  }
}